/* Don't add anything expect tailwind or other config */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray--color: #a1a8ac;
}
@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}

@font-face {
  font-family: 'gotham-bold';
  src: url('./assets/fonts/Gotham-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'gotham-black';
  src: url('./assets/fonts/Gotham-Black-Regular.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'gotham-book';
  src: url('./assets/fonts/Gotham-Book.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'gotham-light';
  src: url('./assets/fonts/Gotham-Light.otf');
  font-weight: 350;
}

.gotham-light {
  font-family: 'gotham-light', sans-serif;
}

.gotham-bold {
  font-family: 'gotham-bold', sans-serif;
}

.gotham-black {
  font-family: 'gotham-black', sans-serif;
}

.gotham-book {
  font-family: 'gotham-book', sans-serif;
}

#root {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

html,
body {
  height: 100%;
}

#page {
  background-image: url('../assets/images/cny-red.webp');
  background-size: 100%;
  min-height: 100vh;
}

#gatchapage {
  background-image: url('./assets/images/game-background.webp');
  background-size: cover;
  background-position: top;
  height: 100vh;
  width: 100%;
}

.footer-div {
  background-image: url('./assets/images/cny-footer.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 250px;
  z-index: 40;
  position: relative;
}

.footer-gatcha {
  background-image: url('./assets/images/cny-footer.png');
  background-repeat: no-repeat;
  background-size: 108% auto;
  background-position: right;
  width: 100%;
  height: 200px;
  z-index: 40;
  position: relative;
  display: flex;
  justify-content: center;
  top: -40px;
}

.login-bottom {
  top: 40vh;
}

.authform-bottom,
.signup-authform {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.authform-bottom {
  top: 190px;
  z-index: 50;
}

.spinner-loading-btn {
  position: relative;
  width: 16px;
  height: 16px;
  border: 4px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

.gray-color {
  color: var(--gray--color);
}

/* Headings */
.heading-1 {
  color: white;
  font-size: 32px;
  font-weight: bold;
  font-family: 'gotham-book', sans-serif;
}

.heading-2 {
  color: white;
  font-size: 16px;
  font-family: 'gotham-book', sans-serif;
}

.heading-3 {
  font-size: 32px;
  line-height: 2.5rem;
  color: white;
  padding: 12px 0;
  letter-spacing: 1px;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* AuthForm */
.auth-form {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* InputField */
.input-group {
  width: 100%;
}

.input-signup {
  width: 100%;
  margin-top: 1rem;
}

.input-field {
  width: 100%;
  height: 55px;
  padding: 10px;
  border: 2px solid #8d8d8d;
  border-radius: 10px;
}

/* Phone Prefix */
.phone-prefix {
  display: flex;
  align-items: center;
  height: 55px;
  padding: 10px;
  border: 2px solid #8d8d8d;
  border-radius: 10px;
  color: #8d8d8d;
  background: white;
}

.input-div {
  display: flex;
  gap: 0.5rem;
}

/* Buttons */
.button-component {
  width: 90%;
  height: 45px;
  color: #d12031;
  font-size: 22px;
  font-family: 'gotham-black', sans-serif;
  background: linear-gradient(120deg, #ffd349 40%, #ffe976 60%, #efb52f 70%, #ffe660 90%);
  margin-top: 10px;
  cursor: pointer;
  border-radius: 40px;
}

.blue-button {
  width: 100%;
  height: 45px;
  color: #ffe976;
  font-size: 12px;
  font-family: 'gotham-black', sans-serif;
  line-height: 1;
  background: linear-gradient(#4c5589 0%, #1c2365 20%, #0a0a51 40%);
  cursor: pointer;
  border-radius: 40px;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button {
  width: 100%;
  height: 45px;
  color: #d12031;
  font-size: 12px;
  font-weight: 900;
  background: linear-gradient(120deg, #ffd349 40%, #ffe976 60%, #efb52f 70%, #ffe660 90%);
  margin-top: 10px;
  cursor: pointer;
  border-radius: 40px;
}

.disabled-button {
  color: grey !important;
  cursor: not-allowed !important;
}

/* Login modal */
.login-slider {
  background-image: url(/src/assets/images/login-modal.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
}

.login-modal-button {
  background: linear-gradient(90deg, #d8b564 0%, #fdec91 22%, #dbb663 68%, #faf2bd 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.handle::before {
  content: '';
  position: absolute;
  height: 100%;
  width: var(--handle--position);
  background: linear-gradient(
    94.93deg,
    #ffd349 42.92%,
    #ffe976 64.28%,
    #efb52f 77.48%,
    #ffe660 92.62%
  );
  border-radius: 25px;
}

.register-text {
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

.hotline-background {
  background-size: cover;
  background-position: center;
  background-image: url('./assets/images/svg/whatsappLogo.svg');
  margin: 0;
}

/* Match and Win modal */
.match-background {
  background-image: url(/src/assets/images/match-modal.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
}

@media screen and (max-height: 700px) {
  .login-bottom {
    top: 38vh;
  }

  .authform-bottom {
    margin-top: 4vh;
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
